# Pusher (client-side)
# Must match backend's PUSHER_KEY and PUSHER_CLUSTER.
VITE_PUSHER_KEY=your_key
VITE_PUSHER_CLUSTER=your_cluster

# Clerk (client-side)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmljZS13YXJ0aG9nLTg4LmNsZXJrLmFjY291bnRzLmRldiQ
